<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
</head>
<body>
    <h1>Register with us!</h1>

    {% if registered %}
        <strong>Thank you for registering!</strong>
        <p> <a href="/myapp/">Return to the homepage.</a> </p>

    {% else %}
        <strong>Register here!</strong><br />

        <form id="user_form" method="post" action="/myapp/signup/"
                enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}
            <input type="submit" name="submit" value="Sign up" />
        </form>
    {% endif %}

    <p> <a href="/myapp/login/"> Login </a> </p>
</body>
</html>