<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Picture</title>
</head>
<body>

    <form action="/myapp/uploadpicture/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>User: {{ user.username }}</p>
        <p>{{ pic_form.picture.label }}</p>
        <p>{{ pic_form.picture }}</p>
        <p><input type="submit" value="Upload" /></p>

    </form>

    <button onclick="location.href='/myapp/profile'">Back to Profile</button>
    <button onclick="location.href='/myapp/logout'">Logout</button>

</body>
</html>